@CHARSET "UTF-8";
body{
	marign:0px;
	padding:0px;
	font-family: 新宋体, 宋体, 微软雅黑, Arial;
}

.header{
	width:100%;
	border-bottom:3px solid #4A5E80;
}
.header .content{
	width:950px;
	height:70px;
	margin:5px auto;
	padding-left:40px;
}
.header .content img{
	height:70px;
}

.main{
	width:910px;
	/* height:300px; */
	margin:0px auto;
	margin-bottom:25px;
	border:#ccc 0px solid;
	padding:40px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#333,strength=4);/*ie*/
	-moz-box-shadow: 0 5px 20px #ccc;	/*firefox*/
	-webkit-box-shadow: 0 5px 20px #ccc;	/*safari或chrome*/
	box-shadow: 0 2px 10px #ccc;	/*opera或ie9*/
}

.main .content{
	position:relative;
	left:0px;
	top:0px;
	width:740px;
	height:450px;
	margin:40px auto;
	border:1px solid #d4d4d4;
}
.main-header{
	text-align:center;
	border-bottom:1px solid #ccc;
}
.main-header:after{
	content:'';
	display: block;
	clear:both;
}
.main-header div{
	width:50%;
	height:40px;
	line-height:40px;
	font-family:"Microsoft YaHei";
	font-weight:600;
	font-size:20px;
	color:#555;
	border-bottom:2px solid transparent;
	float:left;
}
.main-header .selected{
	border-bottom:2px solid #4A5E80;
}

.content form{
	width:100%;
	padding-left:100px;
	padding-top:20px;
}
.email-err{
	color:red;
}
.field{
	height:30px;
	margin:15px 0;
}
.title{
	display:inline-block;
	width:70px;
	text-align: right;
	font-size:14px;
}
.validate{
	 margin-top:-8px; 
}
.validate-text{
	width:80px;
	height:28px;
	line-height:28px;
	padding:0 10px;
}
.text{
	width:175px;
	height:28px;
	line-height:28px;
	padding:0 10px;
}
.btn-container{
	margin-top:30px;
	padding-left:70px;
}
.btn{
	width:100px;
	height:35px;
	margin:0px;
	padding:0px;
	line-height:35px;
	font-size:20px;
	color:#fff;
	background-color: #4A5E80;
	border: none;
	outline:none;
	border-radius:5px;
}
.ensure{
	margin-top:7px;
	margin-bottom:-5px;
	padding-left:70px;	
}
.ensure-btn{
	width:125px;
	text-align:center;
	height:30px;
	line-height:30px;
}

.cellphone{
	display:none;
}

.main-footer{
	width:100%;
	height:65px;
	line-height:65px;
	position:absolute;
	left:0px;
	bottom:0px;
	font-size:12px;
	font-family:SimSun;
	background-color: #f7f7f7;
}
.main-footer span{
	margin-left:125px;
}
.main-footer a{
	text-decoration: none;
	font-size:14px;
	font-weight:600;
	color:#4A5E80;
}
.main-footer a:hover{
	text-decoration: underline;
}
